.center{
  flex: 1 1 59%;
  padding-left: 1.8rem;
  display: flex;
  flex-direction: column;
}

.top-content{
  flex: 1 1 55%;
  border-radius: 0 0 30px 30px;
  overflow: hidden;
  background-color: rgba(20, 2, 37, 0.3);
  padding: $main_top_padding 1.5rem 1.5rem;
  &__columns{
    display: flex;
    height: 100%;
  }
}

.main-left-column{
  flex: 1 1 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  &__text{
    color: #7d8da1;
    font-size: 1rem;
    flex: 1 1 auto;
  }
  &__btn{
    margin-bottom: 1.3rem;
    padding: .7rem 1rem;
    align-self: start;
    font-size: .8rem;
    border-radius: 8px;
    color: white;
    background-color: #376aec;
    border: none;
    cursor: pointer;
    transition: .3s ease;
    &:hover{
      background-color: #00ccff;
    }
    &:active{
      background-color: #2929ef;
      color: white;
    }
  }
  &__title{
    flex: 0 1 auto;
  }
  &__subtitle{
    font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
  }
}

.title-row{
  display: flex;
  //position: relative;
  margin-bottom: 1.5rem;
  align-items: center;
  &__left{
    padding-bottom: 2.1rem;
  }
  &__rigth{
  }
  &__row{
    display: flex;
  }
  &__main-title{
    font-size: 3rem;
    font-weight: 700;
    margin-left: .6rem;
    position: absolute;
    left: 20rem;
    z-index: 2;
  }
  &__subtitle{
    font-size: 2rem;
    font-weight: 400;
  }
}

.group-display{
  padding: .7rem;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 8px;
  flex: 0 1 25%;
  &__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .6rem;
  }
  &__item{
    span{
      color: #7d8da1;
    }
  }
  &__btn{
    width: 100%;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    background-color: white;
    font-size: .9rem;
    transition: .3s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    &:hover{
      background-color: #00ccff;
    }
    &:active{
      background-color: #2929ef;
      color: white;
    }
  }
}

.main-right-column{
  flex: 1 1 60%;
  margin-left: .8rem;
  &__image{
    width: 100%;
    border-radius: 10px;
    position: relative;
  }
}

.bottom-content{
  flex: 1 1 43%;
  display: flex;
  flex-direction: column;
  &__head{
    flex: 1 1 22%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 1.2rem;
  }

  &__title{
  }
  &__columns{
    display: flex;
    flex: 1 1 78%;
    justify-content: space-between;
  }
}

.column-item{
  //background: url('../img/items/item1.jpg') no-repeat center center;
  background-size: cover;
  flex: 0 1 32%;
  height: 88%;
  transition: .3s ease;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: end;
  box-shadow: 0 0 30px 10px rgba(156, 116, 236, 0.1);
  cursor: pointer;
  &__bottom-display{
    flex: 0 1 30%;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__head{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-weight: 600;
  }
  &__time{}
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__price{
    line-height: 1.2rem;
    span{
      color: #7d8da1;
    }
  }
  &__btn{
    position: relative;
    top: 1.5rem;
    left: .7rem;
  }
  &:hover{
    transform: rotate(-1deg);
    box-shadow: none;
  }
}